<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/jass.css' />
  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
        <nav>
          <ul>
            <li><a href='/' aria-label='Home'>Home</a></li>
            <li><a href='/dashboard' aria-label='Dashboard'>Dashboard</a></li>
            {{#if loggedIn}}
              <li><a href='#' id='logout' aria-label='Logout'>Logout</a></li>
            {{else}}
              <li><a href='/login' aria-label='Login'>Login</a></li>
              <li><a href='/signup' aria-label='Sign Up'>Sign Up</a></li>
            {{/if}}
          </ul>
        </nav>
      </header>
      <main class='container container-fluid mt-5'>
        {{{body}}}
      </main>
      <footer>
        <!-- Footer content here -->
      </footer>
    </div>

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>