<h1>The Tech Blog</h1>
{{#if posts.length}}
  <ul>
    {{#each posts}}
      <li>
        <a href="/post/{{this.id}}">{{this.title}}</a>
        <p>{{this.createdAt}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No blog posts available.</p>
{{/if}}