<h1>The Tech Blog</h1>
{{#if posts.length}}
  <ul>
    {{#each posts}}
      <li>
        <a href="/post/{{this.id}}">{{this.title}}</a>
        <p>{{this.createdAt}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Why MVC is so important</p>
  <p>MVC allows developers to maintain a true seperation of concerns, devising
    their code between the Model layer for data, the View layer for design, and
    the Controller layer for application logic.
  </p>
  <p>No blog posts available.</p>
{{/if}}