<h1>All Posts</h1>

<ul>
  {{#each posts}}
    <li>
      <a href='/post/{{this.id}}'>{{this.title}} by {{this.user.username}}</a>
    </li>
  {{/each}}
</ul>

<a href='/create-post' class='btn btn-primary'>Create New Post</a>